html, body {
    height: 100%;
    margin: 0;
}

body{
    background:#030303;
    color:#f0f0f0;
    font-family: "Lucida Console", "Courier New", monospace;
}

nav {
    margin: auto auto;
    max-width: 80ch;
    padding: 10px;
	display: flex;
	justify-content: flex-end;
}

.main {
    max-width: 40ch;
}

.main h1 {
    margin:0 0 .2em 0;
    font-size:2rem;
}

.main .sub {
    color:#888;
    font-size:.9rem;
    margin-bottom:3em;
}

article {
    margin: 1em auto;
    max-width: 80ch;
    padding: 10px;
    line-height: 1.2;
}

footer {
	margin: auto auto;
	max-width: 80ch;
	padding: 10px;
}

p code, li code {
    border: 1px solid #d27f7f;
    border-radius: 2px;
    color: #ffb3b3;
    padding: 1px 2px;
}
.sourceCode {
	overflow: auto;
}

img {
    height: auto;
    max-width: 100%;
}

pre {
    background: #202123;
    border: 1px solid #2c2c2c;
    color: #e6e6e6;
    padding: 5px;
}

a {
    text-decoration:none;
    color:#ccc;
    margin-right:.7rem;
}

a:hover {
    color:#fff;
}

#TOC {
    border-left: 5px solid white;
    display: block;
    position: relative;
}
#TOC:before {
    content: 'Table of Contents';
    display: block;
    font-weight: bold;
    padding: 5px;
    position: relative;
}

#TOC ul {
    padding-left: 10px;
    list-style-type: decimal;
}

.date {
    color: #8c8c8c;
}
